@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*** Spinner Start ***/
/*** Spinner ***/

html {
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
  font-family: "Poppins", serif !important;
  overflow-x: hidden;
}

.contenedor-iconoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: #dc3545;
  border-radius: 8px;
}

/* Evitar desbordamiento horizontal */

.container-fluid {
  max-width: 100%;
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: 0.5s;
  z-index: 99;
}

/*** Button Start ***/
.btn {
  font-weight: 600;
  transition: 0.5s;
}

.btn-square {
  width: 32px;
  height: 32px;
}

.btn-sm-square {
  width: 34px;
  height: 34px;
}

.btn-md-square {
  width: 44px;
  height: 44px;
}

.btn-lg-square {
  width: 56px;
  height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50%;
}

.btn.btn-primary {
  box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-primary:hover {
  box-shadow: inset 300px 0 0 0 var(--bs-light) !important;
  color: var(--bs-primary) !important;
}

.btn.btn-secondary {
  box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-secondary:hover {
  box-shadow: inset 300px 0 0 0 var(--bs-primary);
  color: var(--bs-light) !important;
}

.btn-hover {
  transition: 0.5s;
}

.btn-hover:hover {
  color: var(--bs-secondary) !important;
}

/*** Sub Title Start ***/
.sub-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: var(--bs-primary);
}

.sub-title::before {
  content: "";
  width: 100px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: -110px;
  border: 1px solid var(--bs-secondary) !important;
}

/*** Topbar Start ***/
.fixed-top .container {
  transition: 0.5s;
}

.topbar {
  padding: 2px 10px 2px 20px;
  background: var(--bs-primary) !important;
}

.topbar a,
.topbar a i {
  transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
  color: var(--bs-secondary) !important;
}

.uniLogoResponsive {
  display: none;
}

@media (max-width: 576px) {
  .topbar {
    display: none;
  }

  .uniLogo {
    display: none;
  }

  .uniLogoResponsive {
    display: block;
  }
  .OfertaEducativaGIF {
    width: 100px;
  }
}
/*** Topbar End ***/

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
  /* font-family: "Yantramanav", sans-serif; */
  position: relative;
  margin-right: 25px;
  padding: 35px 0;
  color: var(--bs-dark) !important;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
  color: var(--dark) !important;
  font-size: 18px !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--bs-primary) !important;
}

.navbar-light .navbar-brand img {
  max-height: 50px;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-brand img {
  max-height: 45px;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  vertical-align: middle;
  margin-left: 8px;
}

h1 {
  font-family: "Poppins", sans-serif !important;
}

@media (min-width: 1200px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    border: 0;
    border-radius: 10px;
    transition: 0.5s;
    opacity: 0;
  }
}

.dropdown .dropdown-menu a:hover {
  background: var(--bs-primary);
  color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
  background: var(--bs-light) !important;
  transition: 0.5s;
  opacity: 1;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-light {
    position: relative;
    background: var(--bs-white);
  }

  .navbar.navbar-expand-lg .navbar-toggler {
    padding: 10px 20px;
    border: 1px solid var(--bs-primary);
    color: var(--bs-primary);
  }

  .navbar-light .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid #dddddd;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
    color: var(--bs-dark) !important;
  }

  .navbar-light .navbar-brand img {
    max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-light {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 999;
  }

  .sticky-top.navbar-light {
    position: fixed;
    background: var(--bs-light) !important;
  }
  .navbar-light .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }
}

/*** Carousel Hero Header Start ***/
.header-carousel {
  position: relative;
}

.header-carousel .owl-nav .owl-prev {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  border-radius: 60px;
  background: var(--bs-primary);
  color: var(--bs-white);
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-next {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border-radius: 60px;
  background: var(--bs-primary);
  color: var(--bs-white);
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  box-shadow: inset 100px 0 0 0 var(--bs-light) !important;
  color: var(--bs-primary) !important;
}

@media (max-width: 576px) {
  .header-carousel .owl-nav .owl-prev,
  .header-carousel .owl-nav .owl-next {
    top: 630px;
    transition: 0.5s;
  }

  .header-carousel
    .header-carousel-item
    .carousel-caption
    .carousel-caption-content {
    width: 95% !important;
  }
}

.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
  position: relative;
  width: 100%;
  height: 700px;
  margin-top: 95px;
  display: block;
  object-fit: cover;
  transition: 0.5s;
}

@media (max-width: 992px) {
  .header-carousel .header-carousel-item,
  .header-carousel .header-carousel-item img {
    margin-top: 0;
    transition: 0.5s;
  }
}

@media (min-width: 992px) {
  .header-carousel .owl-nav .owl-prev,
  .header-carousel .owl-nav .owl-next {
    margin-top: 50px;
  }
}

.header-carousel .header-carousel-item .carousel-caption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.header-carousel
  .header-carousel-item
  .carousel-caption
  .carousel-caption-content {
  position: relative;
  width: 75%;
}

/* Titulacion y servicio social Start */

.scrollspy-example {
  overflow-y: auto;
  height: 600px;
}

.iframePracticas {
  text-align: center;
}

@media (max-width: 576px) {
  .list-group {
    display: none;
  }
  .scrollspy-example {
    overflow-y: hidden;
    height: auto;
    text-align: center;
  }
  iframe {
    width: 100%;
  }
  .headerTitulacion {
    text-align: center;
    margin-top: -8rem;
  }
}

@media (max-width: 1200px) {
  .list-group {
    display: none;
  }
}

/* Titulacion y servicio social End */
.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: hsl(217, 88.2%, 90%);
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** Training Start ***/
.training-carousel .owl-stage-outer {
  margin-top: 30px;
}

.training-carousel .owl-nav .owl-prev,
.training-carousel .owl-nav .owl-next {
  position: absolute;
  top: 0;
  padding: 10px 35px;
  border: 1px solid var(--bs-secondary);
  color: var(--bs-white);
  background: var(--bs-secondary);
  border-radius: 50px;
  transition: 0.5s;
}

.training-carousel .owl-nav .owl-prev {
  left: 0 !important;
}

.training-carousel .owl-nav .owl-next {
  right: 0;
}

.training-carousel .owl-nav .owl-prev:hover,
.training-carousel .owl-nav .owl-next:hover {
  box-shadow: inset 100px 0 0 0 var(--bs-light) !important;
  color: var(--bs-primary) !important;
}

.training .training-item .training-img {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.training .training-item .training-img img {
  transition: 0.5s;
}

.training .training-item:hover .training-img img {
  transform: scale(1.2);
}

/*** Contact Start ***/
.contact button.btn.btn-primary.w-100:hover {
  box-shadow: inset 700px 0 0 0 var(--bs-light) !important;
  color: var(--bs-primary) !important;
}
/*** Contact End ***/

/* Parallax Start */

.parallax {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.parallax img {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

#tituloHeaderPagos,
#subtituloHeaderPagos {
  position: absolute;
  color: #dc3545;
  text-align: center;
}

#tituloHeaderPagos {
  font-size: 3.5rem;
  font-weight: 800;
  top: 30%;
}

#subtituloHeaderPagos {
  margin-top: 1rem;
  top: 40%;
}

/* PAGOS */

.card-pagos {
  height: 350px;
}

@media (max-width: 1200px) {
  .parallax {
    height: 100vh;
  }
  #tituloHeaderPagos {
    font-size: 2.5rem;
    top: 40%;
  }
  #subtituloHeaderPagos {
    font-size: 1.5rem;
    top: 50%;
  }
  #cerros {
    bottom: 0;
    transform: translateY(0px);
  }
  #estacionamiento {
    bottom: 0;
    transform: translateY(0px);
  }
  #persona1 {
    bottom: 0;
    transform: translateY(0px);
  }
  #persona2 {
    bottom: 0;
    transform: translateY(0px);
  }
  #universidad {
    bottom: 0;
    transform: translateY(0px);
  }
  #arbustos {
    bottom: 0;
    transform: translateY(0px);
  }
  .card-pagos {
    height: 400px;
  }
  .card-OfertaEducativa {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .parallax {
    height: 90vh;
  }
  #tituloHeaderPagos {
    font-size: 2.5rem;
    top: 25%;
  }
  #subtituloHeaderPagos {
    font-size: 1.5rem;
    top: 55%;
  }

  #cerros {
    bottom: 0;
    transform: translateY(0px);
  }
  #estacionamiento {
    bottom: 0;
    transform: translateY(0px);
  }
  #persona1 {
    bottom: 0;
    transform: translateY(0px);
  }
  #persona2 {
    bottom: 0;
    transform: translateY(0px);
  }
  #universidad {
    bottom: 0;
    transform: translateY(0px);
  }
  #arbustos {
    bottom: 0;
    transform: translateY(0px);
  }
}

@media (max-width: 320px) {
  #tituloHeaderPagos {
    font-size: 2rem;
    top: 25%;
  }
  #subtituloHeaderPagos a {
    margin-top: 1rem;
  }
}

/* Parallax End */

/* Oferta Educativa Start */

@media (max-width: 426px) {
  .HeaderOferta {
    flex-direction: column-reverse !important;
  }
  .textoHeaderOferta {
    text-align: center;
  }
}

/* Oferta Educativa End */

/* Reglamento Start */

.HeaderReglamento {
  margin-top: 8em;
}
.HeaderReglamento h1 {
  color: #dc3545;
}

@media (max-width: 426px) {
  .HeaderReglamento {
    margin-top: 1rem;
  }
  .reglamento {
    text-align: center;
  }
}

/* Reglamento End */

/* Personal Administrativo Start */

.team-carousel .owl-stage-outer {
  margin-top: 30px;
}
.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
  position: absolute;
  top: 1px;
  padding: 10px 35px;
  border: 1px solid var(--bs-secondary);
  color: var(--bs-white);
  background: var(--bs-secondary);
  border-radius: 50px;
  transition: 0.5s;
}

.team-carousel .owl-nav .owl-prev {
  left: 0 !important;
}

.team-carousel .owl-nav .owl-next {
  right: 0;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
  box-shadow: inset 100px 0 0 0 var(--bs-light) !important;
  color: var(--bs-primary) !important;
}

.team .team-carousel .team-item .team-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.team .team-carousel .team-item .team-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  z-index: 2;
}

.team .team-carousel .team-item .team-img .team-icon {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px;
  display: flex;
  opacity: 0;
  transition: 0.5s;
  z-index: 3;
}

.team .team-carousel .team-item:hover .team-img .team-icon {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.team .team-carousel .team-item .team-content {
  position: relative;
  background: var(--bs-secondary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  transition: 0.5s;
}

.team .team-carousel .team-item .team-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--bs-primary) !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s;
  z-index: -1;
}

.team .team-carousel .team-item:hover .team-content a,
.team .team-carousel .team-item:hover .team-content p {
  color: var(--bs-white) !important;
}

.team .team-carousel .team-item:hover .team-content::after {
  height: 100% !important;
}

.team .team-carousel .team-item .team-img img {
  transition: 0.5s;
}

.team .team-carousel .team-item:hover .team-img img {
  transform: scale(1.1);
}
/*** Personal Administrativo End ***/
